[submodule "config"]
	path = config
	url = https://github.com/Flexitrade/config
[submodule "discovery"]
	path = discovery
	url = https://github.com/Flexitrade/discovery
[submodule "gateway"]
	path = gateway
	url = https://github.com/Flexitrade/gateway
[submodule "frontend"]
	path = frontend
	url = https://github.com/Flexitrade/frontend
[submodule "usermanagement"]
	path = usermanagement
	url = https://github.com/Flexitrade/usermanagement
[submodule "authentication"]
	path = authentication
	url = https://github.com/Flexitrade/authentication
